html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

em, p, li {
  font-family: 'Roboto', sans-serif;
}

.sideBarLayer {
  width: 220px;
  transition-duration: .3s;
  position: absolute;
  top: 150px;
  left: -220px;
  background: black;
  opacity: 0.55;
  border-radius: 0% 3% 3% 0%;
}

.sideBarLayer.active {
  left: 0px;
}

.sideBarLayer .template {
  width: 100%;
}

.sideBarLayer .template .content {
  color: white;
}

.sideBarLayer .template .content > li {
  padding-top: 10px;
}

.sideBarLayer .template .content > li:not(:last-child) {
  border: dashed;
  border-width: 0px 0px 0.5px 0px;
  border-color: darkgray;
}

.sideBarLayer .template .content .title {
  padding: 10px 0px 10px 15px;
}

.sideBarLayer .template .content .title em {
  color: #ffd400;
  font-weight: bold;
}

.sideBarLayer .template .content > li .index {
  padding-bottom: 10px;
}

.sideBarLayer .template .content > li .index > ul > li {
  padding: 5px 5px 0px 17px;
  cursor: pointer;
  margin-top: 5px;
}

.toggle {
  position: absolute;
  width: 25px;
  height: 110px;
  background-color: black;
  top: 30px;
  left: 220px;
  border-radius: 0% 10% 10% 0%;
  color: white;
  cursor: pointer;
}

.toggle .title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
}

.toggle .arrow {
  width: 16px;
  transition-duration: .5s;
  transform: rotate(-180deg);
  margin-left: 3px;
}

.toggle.on .arrow {
  transform: rotate(0deg);
}

/* video js custom css */
.vjs-button>.vjs-icon-placeholder:before {
  font-size: 3em;
}

.video-js .vjs-control-bar {
  height: 5em;
}

.video-js .vjs-time-control {
  font-size: 1.7em;
}

.vjs-volume-bar.vjs-slider-horizontal {
  height: .7em;
}

.video-js .vjs-progress-control {
  pointer-events: none;
}

.vjs-volume-horizontal {
  margin-top: 5px !important;
}

.vjs-playback-rate .vjs-menu {
  width: 5em;
  left: -5px;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  bottom: 2.2em;
}

.vjs-menu li {
  font-size: 1.5em;
}

.vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.8  em;
}

.vjs-playback-rate .vjs-playback-rate-value, .vjs-playback-rate>.vjs-menu-button {
  top: 10px;
}